<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Базовая страничка</title>
</head>
<body>
<h1>Название сайте</h1>
<h2>Название страницы</h2>
<h3>...</h3>
<p><b>Lorem</b> <i>ipsum</i> <s>dolor</s> sit amet, consectetur adipisicing elit. Accusamus aspernatur enim error itaque
    mollitia nihil sequi
    totam vel vitae? Ad amet dolor ex fuga ipsam molestiae perferendis quam rerum veritatis.</p>
<p>A, amet blanditiis commodi consequatur cumque cupiditate ea eaque enim fuga harum id illo incidunt inventore itaque
    magni minus natus nisi odio quasi quidem repudiandae sed veniam vero. Earum, sit.</p>
<p>Amet dolorem est similique? Distinctio est illo iste necessitatibus numquam praesentium reiciendis, voluptas.
    Accusamus adipisci aliquam at beatae debitis eius eum excepturi, inventore laborum nisi quibusdam suscipit unde
    velit voluptatem.</p>
<p>
    <a href="http://google.ru" target="_blank">Гугл</a>
</p>
<p>
<ul>
    <li>Молоко</li>
    <li>Хлеб</li>
    <li>Вода</li>
</ul>
</p>
<p>
<ol>
    <li>Мама</li>
    <li>Папа</li>
    <li>Сын</li>
</ol>
</p>
<table style="border: solid 4px green">
    <tr>
        <th colspan="3">Слитая строка</th>
    </tr>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчество</th>
    </tr>
    <tr>
        <td>Амир</td>
        <td>Диянов</td>
        <td>Радикович</td>
    </tr>
    <tr>
        <td>Петр</td>
        <td>Петренко</td>
        <td>Петрович</td>
    </tr>
</table>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Felis_silvestris_silvestris.jpg/413px-Felis_silvestris_silvestris.jpg"
     alt="Картинка не нашлась">

</body>
</html>