{% load notes %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление заметки</title>
</head>
<body>

<a href="{% url 'notes_list' %}">Главная страница</a>
{%  if id %}
    <a href="{% url 'note' id %}">Просмотр заметки</a>
{% endif %}
<h1>Создание заметки</h1>
{#{% if error %}#}
{#    <b>Ошибка: {{ error }}</b>#}
{#{% endif %}#}
{% if form.errors %}
    <p>Ошибкииииииии</p>
    {{ form.errors }}
{% endif %}
	<form action="" method="post">
    {% csrf_token %}
        {{ form.as_p }}

    <button>Добавить заметку</button>
</form>


</body>
</html>
